.desplegable-menu {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.nav-items {
    position: fixed;
    top: 60px;
    right: -100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100% - 60px);
    background-color: white;
    transition: right 0.5s ease;
}

.nav-items.open {
    right: 0;
}

.nav-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 15px;
}

.nav-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background-color: #000;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.open span:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
