.ContainerForm {
    width: 100%;
    height: 85%;
    margin-top: 2.5%;
    margin-left: 2%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.inputNumero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border-color: rgba(0, 0, 0, 0.4);
    margin-left: 10%;
    margin-right: 10%;
    height: 5vh;
    margin-top: 2%;
    
}
.inputNumero input{
    width: 20%;
    text-align: center;
}

.flecha{
    margin-top: 5%;
    position: absolute;
    left: 2%;
    top: 5%;
}
.textoForm {
    font-size: 2vh;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5%;

    padding: 5%;
}

.formularios {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30%;
    max-height: 60vh;
}
.formularios select{
    width: 80%;
    height: 12%;
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    padding-left: 2%; 
}
.input-field {
    width: 80%;
    height: 12%;
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    padding-left: 2%; 
}
.inputAltura {
    width: 80%;
    height: 12%;
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
    padding-left: 2%; 
}


input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 2%;  
}

.submit-btn {
    cursor: pointer;
    width: 80%;
    height: 50px;
    margin-top: 2%;
    border-radius: 0;
    border: #F87C18;
    background-color: #F87C18;
    font-weight: lighter;
}

.duration-options {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    align-items: center;
  }
  
  .duration-option {
    width: 22%;
    height: 7vh;
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2vh;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
    .duration-option.selected {
    background-color: #f87c18;
    border-color: #f87c18;
    color: white;
  }
  
  .duration-option:hover {
    background-color: #f87c18;
    border-color: #f87c18;
    color: white;
  }

.inputNumero2 {
    display: flex;
    justify-content: center; 
    width: 80%; 
    margin-left: 10%; 
    margin-right: 10%; 
}


.inputNumero2 input {
    text-align: center; 
    padding-left: 10%; 
    padding-right: 10%; 
    font-size: 16px; 
    width: 100%; 
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}


.inputNumero2 input::-webkit-outer-spin-button,
.inputNumero2 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputNumero2 input[type='number'] {
    -moz-appearance: textfield;
}
.TextoDuracion{
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20%;
}
.textoPrecio{
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    font-size: 3vh;
}
.contPrecio{
    margin-bottom: 20%;
}