
 .popUpFotos img{
    pointer-events: none;
    overflow: hidden;
}

 .popUpFotos{
    display: flex;
    margin:0 auto;
    overflow: hidden;
    position: absolute;
    height: 70%;
    width: 60%; 
    right: 18.5%;
    margin-top: 8%;
    z-index: 2;
    padding: 2%;
}
.popUpFotos button{
    display: flex;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    width: 3.5%;
    height: 6.5%;
    margin-top: 25%;
    border-width: 0;
    font-size: 3rem;
}
.popUpFotos img{
    width: 100%;
    height: 100%;
}
.flechaI{
    margin-right: 2%;
}
.flechaD{
    margin-left: 2%;
}