.ContainerH{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    background-color: #fafafa;
    width: 100%;
    height: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    
}
.menu{
    cursor: pointer;
    display: flex;
    width: 6.5%;
    height: 5rem;
    margin-right: 2%;
    flex-direction: row;
    
}
.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opcion{
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.opcion img{
    margin-top: 110%;
    height: 40%;
}
.Logo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 2%;
}
.Logo img{
    height: 4rem;
}
.slogan{
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Rect{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    background-color: #fafafa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px 20px 20px 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.Rect img{
    margin-top: 2%;
    height: 90%;
    width: 50%;
    border-radius: 40px 40px 40px 40px;
}
.Rect h1{
    margin-top: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.hamburguesa{
    z-index: 2;
    position: absolute;
    background-color: #fafafa;
    right: 0;
    top: 8.5%;
    height: 119.7%;
    width: 18%;
    animation: move-left 5s linear 0s;
}

@keyframes move {
    to{
        transform: translateX(250px);
    }
}
.menu-opciones{
    cursor: pointer;
}
.menu-opciones p{
    margin-top: 15%;
    margin-left: 5%;
    
}



@media(max-width: 1200px){
    .Rect img{
        width: 100%;
    }
    .menu{
        width: 10%;
    }
}