.TODO{
    background-color: #fafafa;
}
.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.busqueda input{
    width: 30%;
    height: 3rem;
    border-radius: 40px 40px 40px 40px;
    font-size: 90%;
    border: rgb(187, 187, 187) 1px solid ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ciruclo{
    position: absolute;
    top: 20;
    margin-left: 27.5%;
    right: 2;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #f87c18;
    border-radius: 40px 40px 40px 40px;
}
.lupa {
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 50%;
}
.custom-select {
    display: flex;
    position: absolute;
    font-family: Arial;
    width: 0;
    height: 0.2%;
    margin-left: 34%;
    margin-top: 0.3%;
    text-align: center;
}

.select-selected {
    background-color: #fafafa;
    color: #141414;
    padding: 1rem 1.8rem;
    border: 1px solid #fafafa;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 99;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.select-items div {
    color: black;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.select-items div:hover {
    background-color: #ddd;
}

.select-hide {
    display: none;
}

.select-arrow-active .select-items {
    display: block;
}
.filtros{
    margin-top: -2%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    border-right: rgba(0, 0, 0, 0.2) 1px solid;
    height: 74vh;
    width: 20%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around   ;
}
.containerDerecha{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-top: 2%;
}
.filaa{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 74vh;
    justify-content: center;
}
.oficina{
    display: flex;
    flex-direction: row;
    margin: 2%;
    width: 25%;
    height: 20%;
    border: rgba(0, 0, 0, 0.2) 2px solid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.oficina:hover {
    border-color: #3756F9; 
}
.oficina {
    transition: border-color 0.5s ease-in-out; 
}
.oficina img{
    height: 100%;
    width: 40%;
    border-radius: 10px 0 0 10px;
}
.oficina p{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5);
}
.info{
    margin: 2%;
    text-align: start;
    
}
.oficina a{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer{
    width: 100%;
}
.pagination {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.containerBoton{
    margin-top: 2%;
}
.arrow-button {
    border: 2px solid transparent;
    border-radius: 50%; 
    width: 5.5vh; 
    height: 5.5vh; 
    background-color: #fafafa;
    color: #F87C18;
    border-color: #F87C18;
    cursor: pointer;
    font-size: 20px; 
    transition: all 0.3s ease;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.arrow-button:hover {
    border-color: #F87C18;
    background-color: #F87C18;
    color: #fafafa; 
}
.disabled {
    opacity: 0.5; 
    pointer-events: none; 
}
[id="1"]{
    margin-right: 2%;
}

[id="2"]{
    margin-left: 2%;
}
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    background-color: transparent; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 

}

::-webkit-scrollbar-thumb {
    background-color: #141414; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #333; 
    animation: colorChange 0.5s infinite alternate; 
}
