.TODO{
    background-color: #fafafa;
}
.busqueda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.busqueda input{
    width: 30%;
    height: 3rem;
    border-radius: 40px 40px 40px 40px;
    font-size: 90%;
    border: rgb(187, 187, 187) 1px solid ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ciruclo{
    position: absolute;
    top: 20;
    margin-left: 27.5%;
    right: 2;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #f87c18;
    border-radius: 40px 40px 40px 40px;
}
.lupa {
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 50%;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f87c18;
    text-align: center;
    text-wrap: nowrap;
    
}
.custom-select {
    display: flex;
    position: absolute;
    font-family: Arial;
    width: 0;
    height: 0.2%;
    margin-left: 34%;
    margin-top: 0.3%;
    text-align: center;
}

.select-selected {
    background-color: #fafafa;
    color: #141414;
    padding: 1rem 1.8rem;
    border: 1px solid #fafafa;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 99;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.select-items div {
    color: black;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.select-items div:hover {
    background-color: #ddd;
}

.select-hide {
    display: none;
}

.select-arrow-active .select-items {
    display: block;
}
.filtros{
    margin-top: 2%;
    display: flex;
    position: absolute;
    flex-direction: column;
    border-right: rgba(0, 0, 0, 0.2) 1px solid;
    left: 1%;
    height: 74vh;
    width: 20%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fila{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}
.oficina{
    margin: 3%;
    display: flex;
    width: 20%;
    height: 17rem;
    border: rgba(0, 0, 0, 0.2) 1px solid;
}
.oficina:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.oficina img{
    height: 75%;
    width: 100%;
}
.oficina p{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.5);
}
.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}
.oficina a{
    width: 100%;
}
.footerMargin{
    margin-top: 20%;
}
.pagination {
    text-align: center;
    align-items: center;
    display: flex;
    /*background-color: #141414;*/
    flex-direction: row;
    width: 150%;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 40%;
}

.arrow-button {
    border: 2px solid transparent;
    border-radius: 50%; 
    width: 5vh; 
    height: 5vh; 
    background-color: #fafafa;
    color: #F87C18;
    border-color: #F87C18;
    cursor: pointer;
    font-size: 20px; 
    transition: all 0.3s ease;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.arrow-button:hover {
    border-color: #F87C18;
    background-color: #F87C18;
    color: #fafafa; 
}


