body{
    background-color: #fafafa;
}
.TODO{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fafafa;
}
.Cont-I{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.Cont-D{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
}